.replit
CMakeLists.txt
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
.vs
.vscode
x64
Project1.sln
Project1/Project1.vcxproj
Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj.user
Project1/x64
json